<h1>Editing Groups Group Membership</h1>

<%= render 'form', groups_group_membership: @groups_group_membership %>

<%= link_to 'Show', @groups_group_membership %> |
<%= link_to 'Back', groups_group_memberships_path %>
