<table class=table>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td>
          <% if can? :manage, group %>
            <i class="fas fa-user-cog"></i> (owner)
          <% else %>
            <i class="fas fa-user"></i>
          <% end %>
        </td>
        <td><%= group.name %>
        <td><%= link_to 'Show', group %></td>
        <% if can? :manage, group %>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

