<section class="section">
  <div class="columns">
    <div class="column is-one-fifth">
      <%= render 'shared/groups_sidebar', group: @group %>
    </div>
    <div class="column">
      <h1 class="title"><%= @group.name %></h1>

      <%= link_to 'Edit', edit_group_path(@group) %> |
      <%= link_to 'Back', groups_path %>
    </div>
  </div>
</section>
