<table class="table">
  <tbody>
    <% ActivityPresenter.activities(activities).each do |presenter| %>
      <tr>
        <td><%= presenter.activity_feed_line %></td>
      </tr>
    <% end %>
  </tbody>
</table>
