<h1 class="title">Activity Feed</h1>

<table class="table">
  <tbody>
    <% ActivityPresenter.activities(owner).each do |activity| %>
      <tr>
        <td><%= activity.activity_feed_line %></td>
      </tr>
    <% end %>
  </tbody>
</table>
