<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <%= link_to group_path(group), class: 'is-active' do %>
        <i class="fas fa-tachometer-alt"></i> Dashboard
      <% end %>
    </li>
    <li>
      <%= link_to group_group_members_path(group) do %>
        <i class="fas fa-users"></i> Members
      <% end %>
    </li>
  </ul>
</aside>
