<div class="notification-feed dropdown-menu" id="dropdown-menu">
  <div class="dropdown-content">
    <% if has_unread_notifications?(current_user) %>
      <% current_user.notifications.unread.each do |notification| %>
        <div class="dropdown-item">
          <%= "#{notification.target.user.display_name} uploaded a jam to " %>
          <%= link_to notification.target.room.name, room_path(notification.target.room)%>
        </div>
      <% end %>
    <% else %>
      <div class="dropdown-item">
        No new notifications
      </div>
    <% end %>
  </div>
</div>
