<div class="container">
  <div class="notification-feed columns is-hidden is-mobile">
    <div class="column is-4 is-offset-8">
      <div class="box" style="width: 300px;">
        <% if has_unread_notifications?(current_user) %>
          <% current_user.notifications.unread.each do |notification| %>
            <%= "#{notification.actor.display_name} uploaded a jam to " %>
            <%= link_to notification.target.room.name, room_path(notification.target.room)%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

