<div class="tile is-parent room-tile">
  <article class="tile is-child box">
    <p class="title"><%= room.name %></p>
    <p class="subtitle"><%= room.user.display_name %></p>
    <div class="content">
      <%= react_component("waveform_player", { id: room.primary_jam.id, audioUrl: url_for(room.primary_jam.file) }) %>
      
      <div class="columns is-centered">
        <div class="column">
          <i class="fas fa-drum" aria-hidden="true"></i>
          120
        </div>
        <div class="column">
          <i class="fas fa-file-upload" aria-hidden="true"></i>
          4
        </div>
        <div class="column">
          <i class="fas fa-clock" aria-hidden="true"></i>
          3:04
        </div>
      </div>

      <div class="container could-use-tags">
        Could Use: 
        <span class="tag is-primary">Vocals</span>
        <span class="tag is-primary">Piano</span>
        <span class="tag is-primary">Synth</span>
      </div>
    </div>
  </article>
</div>
