<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <section class="section">
        <h1 class="title">
          Jam Roulette. Add your part.
        </h1>
        <h2 class="subtitle">
          Join a room to start building up a track or start your own.
        </h2>

        <% if(room = Room.recommended.take) %>
          <%= link_to(room_path(room), class: "button is-primary is-inverted") do %>
            <span class="icon">
              <i class="fas fa-door-open"></i>
            </span>
            <span>Join a random room</span>
          <% end %>
        <% end %>

        <%= link_to(rooms_path, method: :post, class: "button is-primary is-inverted") do %>
          <span class="icon">
            <i class="fas fa-plus-circle"></i>
          </span>
          <span>Create a new room</span>
        <% end %>
      </section>

      <% if user_signed_in? && !@activities.empty? %>
        <section class="section">
          <h1 class="title">Activity Feed</h1>

          <%= render "shared/activity_feed", activities: @activities %>
        </section>
      <% end %>
    </div>
  </div>
</section>
