<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Jam Roulette
      </h1>
      <h2 class="subtitle">
        Postal service style jamming
      </h2>
      <a class="button is-primary is-inverted">
        <span class="icon">
          <i class="fas fa-door-open"></i>
        </span>
        <span>Join a random room</span>
      </a>
      <a class="button is-primary is-inverted">
        <span class="icon">
          <i class="fas fa-list"></i>
        </span>
        <span>See a list of rooms you've joined</span>
      </a>
    </div>
  </div>
</section>