@charset "utf-8";

// Customizations
@import "custom";

@import '~bulma'; 

body {
  background: $white-ter;
}
#notifications {
  cursor: pointer;
}

.notification-feed {
  min-width: 15em;
  padding-top: 15px;
}

.has-bottom-border {
  border-bottom: 1px solid #e5e5e5;
}
