@charset "utf-8";

// Customizations
@import "custom";

@import '~bulma'; 

body {
  background: $white-ter;
}
#notifications {
  cursor: pointer;
}

.notification-feed {
  min-width: 15em;
  padding-top: 15px;
}
