<% flash.each do |message_type, message| %>
  <div class="notification is-radiusless is-marginless is-<%= bulma_flash_mapping(message_type) %>">
    <button class="delete"></button>
    <%= message %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>

